:global(
		.radix-themes:is(.dark, .dark-theme):not([data-legacy-dark-theme="true"])
	)
	.topMenuToolbar
	:global(.rt-BaseButton) {
	background-color: transparent;
	color: var(--gray-11);
}

:global(
		.radix-themes:is(.dark, .dark-theme):not([data-legacy-dark-theme="true"])
	)
	.topMenuToolbar
	:global(.rt-BaseButton:hover) {
	background-color: var(--gray-a3);
	color: var(--gray-12);
}

:global(
		.radix-themes:is(.dark, .dark-theme):not([data-legacy-dark-theme="true"])
	)
	.topMenuToolbar
	:global(.rt-BaseButton[data-state="open"]) {
	background-color: var(--gray-a4);
	color: var(--gray-12);
}
